h1{
    color: #219aa2;
    font-size: 22px;
}
p{
    font-size: 14px;
    color: #a9a9a9;
    margin-top: 10px;
}
.wrapper{padding-bottom:120px;}
.wrapper .help li{
    margin-top: 45px;
}
.wrapper .agreement p{

}

table {
    width: 100%;
    max-width: 800px;
    margin-bottom:20px;
    text-align: center;
}
table td,
table th {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
table th {
    font-weight:bold;
    text-align: center;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
