h1{
    color: #219aa2;
    font-size: 22px;
}
p{
    font-size: 14px;
    color: #a9a9a9;
    margin-top: 10px;
}
.wrapper{padding-bottom:120px;}
.wrapper .help li{
    margin-top: 45px;
}
.wrapper .agreement p{

}