.box{
    width: 600px;
    margin: 26px auto;
}
.submitbutton{
    padding: 0 25%;
}

.information{
    font-weight: bold;
    font-size: 16px;
    color: #209ba2;
    margin-bottom: 20px;
}
form [type=text],
[type=submit],
[type=password]{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid #209ba2;
    border-radius: 30px;
    margin-bottom: 25px;
}

textarea{
    padding:8px;
    width: 100%;
    border: 1px solid #209ba2;
    border-radius: 15px;
    margin-bottom: 30px;
}
/*essentialInformationµÄid=signature*/
#signature,
#experience{
    padding: 10px;
}

.personmessage{
    margin-bottom: 15px;
}
.submitbutton button{
    width: 120px;
    background-color: #209ba2;
    color: #FFFFFF;
    box-sizing: content-box;
    font-weight: bolder;
    font-size: 25px;
    display: block;
    margin: 20px auto;
}

.submitbutton [class=fa fa-arrow-circle-right]{
    margin-left: 10px;
}

label{
    cursor:pointer;
    color: #209ba2;
    display: block;
    margin-bottom: 25px;
}

.line {
    width: 100%;
    height: 6px;
    border-top: solid 2px #209ba2;
    margin-bottom: 15px;
}

.sociality{
    color:#209ba2;
    font-size: 40px;
}
