/*整体*/
.box{
    width: 600px;
    border:35px solid #e4e4e2;
    border-radius: 24px;
    margin: 10px auto;
    padding: 60px;
    position: relative;
}
/*交叉按钮*/
.btn{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 5px;
}
.picture{
    margin-right: 30px;
    margin-bottom: 45px;
}
/*右边内容*/
.right{
    margin-left: 30px;
}
.banner{
    color: #219ba1;
    font-size:60px;
    font-family: "微软雅黑";
    line-height: 60px;
}
.note{
    color: #219ba1;
    font-size:40px;
    line-height: 80px;
    font-family: "微软雅黑";
    display: inline-block;
    vertical-align: middle;
}
.star{
    vertical-align: middle;
    left: 5px;
    line-height: 80px;
}
.introduce{
    font-size: 14px;
    line-height: 35px;
}

/*下边内容*/
.content{
    clear: left;
    font-size: 14px;
    line-height: 35px;
}
/*报名按钮*/
.enlist{
    bottom: 10px;
    position: absolute;
    bottom: 10px;
    left: 480px;
}