/* css reset from yui */
html{color:#333;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,dfn,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

.red{color:#CC0000;}
.notLogin a{font-size:12px;color:#fff;padding:0px 4px;}
.notLogin a i{margin-right: 4px; font-size:14px;}
a,p{word-break: break-all;}

.login .login-title i{font-size: 28px}

/*登录框通用*/
.window{display:none;width:100%;z-index:1023;position:fixed; top:0;left: 0;height: 100%;background: rgba(0,0,0,0.4);}

.showAlert{text-align: center;display:none;transition:top 0.4s ease-in-out;height:30px;z-index:99999;position:fixed; top:0%;bottom:0px;left:0;right: 0;margin:0 auto;text-align: center;padding:10px;}
              .showAlert .aletrContent{font-size:18px;display:inline;padding:15px 30px;color:#fff; border-radius:5px; width:auto; margin:0 auto;}
                              .aletrContent.success{background:#5cb85c;}
                              .aletrContent.danger{background:#d9534f;}
                               .aletrContent i{margin-right: 10px;}

.window #reg{height:480px;display:none;}
.regGod span{text-decoration: underline;}

.window .login {display:none;width:400px;height:390px;position:fixed; top:0;left: 0;right: 0;bottom: 0;margin: auto;background: #fff;z-index:1024;}
.login .login-title{padding:5px 25px;height:30px;background:#219ba1;color:#fff;}
         .login-title h2{font-size:20px;float: left}
         .login-title .close{line-height:30px;color:#fff;font-size:20px;float:right;}
.login .login-content{padding:20px 45px;}
          .login-content li{float: left;width:100%;}
          .login-content .login-click{margin:18px 0;}
                                .login-click a,.login-click{color:#219ba1;}
                                .login-click span{margin-left:5px;}
.login .sociality {margin-top:25px;line-height:24px;color:#219ba1;}
         .sociality a{color:#219ba1;}
         .sociality img{margin-left: 10px;}

          .login-content input[type='text'],
          .login-content input[type='password'],
          .login-content input[type="submit"]{width:100%;box-sizing: border-box;font-size:14px;margin-top:20px;border-radius: 30px;padding:8px 15px;border:1px solid #219ba1;}
          .login-content input[type="submit"]{width:100%;background:#219ba1; cursor:pointer; color:#fff;font-size: 20px;}

          #qq-login-btn img {
              vertical-align: middle;
          }




.page{float:left;width:100%;margin-left:-10px;margin-top:20px;}
.page li{float:left;font-size: 16px;padding: 5px 10px}
.page li a{color:#249ca2;}
.page .active{background: #249ca2;color:#fff;}
.page .active a{color:#fff;}

.seconds-nav {font-size:15px;margin-bottom:30px;width:100%;background:#219ba1;height:35px;}
.seconds-nav .seacher{position:relative; float:left;margin-top:2px;height:30px;}
.seconds-nav .seacher button {padding:0;border:0;}
.seconds-nav .seacher input[type="text"]{ line-height:30px;width:148px;border:none;padding:6px 15px;height:18px;font-size:12px;border-radius: 15px;}
.seconds-nav .seacher i {position:absolute; right:10px; cursor:pointer;top:8px;color:#219ba1;}
.seconds-nav li{float: left;border-right: 1px solid #22a6a8;}
.seconds-nav li a{ transition: background 0.2s ease-in-out;color:#fff;width: 135px;display:block;height: 35px;line-height: 35px;text-align: center;padding:0px 10px;}
.seconds-nav li .active,
.seconds-nav li a:hover{background-color: #2AC3CB;}
.miaodatr{margin-top: 7px;}


.tag-box,.tagBox{float:left;margin-bottom:7px;font-size:14px;background:#d6edeb;color:#43a8ad;padding:3px 9px;position:relative;top:5px; margin-right: 4px}

#forget {height:330px;}
#forget input[type='button']{width:90%;background: #219ba1;color:#fff;border:none;padding:8px 0px;margin-left:20px;border-radius: 10px; cursor: pointer;font-size: 18px;}


/* tab */
.tab {
    margin-top:0px;
}
.tab-trigger li {
    float:left;
    width:20%;
    border-bottom:1px solid #219ba1;
}
.tab-trigger a {
    display:block;
    text-align:center;
    padding:10px 0;
    color:#219ba1;
    font-size:22px;
}
.tab-trigger li:hover,
.tab-trigger .active {
    border-bottom:5px solid #219ba1;
    font-weight: 700
}
.tab-sheet {
    position:relative;
}
.tab-sheet > li {
    width: 100%;
    position:absolute;
    left:0;
    top:0;
    display: none
}
.tab-sheet .active {
    display: block;
}

.tab{overflow:hidden;}
.tab .title{border-bottom:1px solid #219ba1; width:100%;margin-right:1px;}
.tab .title > li{position:relative;top:5px; margin-right:1px;float: left;padding-bottom:8px;}

.title a{line-height:39px;padding:0 34px;font-size: 23px;color:#219ba1;}
.title .active {font-weight:700;border-bottom:4px solid #219ba1;}

.title li:hover {border-bottom:4px solid #219ba1;}
.title li{cursor:pointer; }

/*列表通用*/
.list-data > li{padding:5px;position:relative; float: left;width:100%;border-bottom:1px solid #eee;margin:7px 0px;}
.list-data .link-num{cursor:pointer; float:left;text-align: center; background:#219ba1;padding:6px 12px;color:#fff;}
.list-data .list-title {display:inline-block;width:680px;font-size:16px;padding-left:14px;}
.list-data .list-title a{color:#333;}
.list-data .list-tag{position:relative;left:10px;top:-2px;}
.list-data .list-tag li{border:none;width:auto;float: left}
.list-data .list-tag .tag-box{margin-top:4px;font-size:12px;margin-top:7px;background:#d6edeb;color:#43a8ad;padding:1px 7px;margin-left: 5px}
.list-data .list-date{color:#aaa;bottom:15px;position: absolute;right:15px;}
.list-data li:last-child {
    border-bottom:0;
}


/* global tags */
html{
    min-height:100%;
    font-family:"Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    font-size:14px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
	color:#333;

    background:url(../image/footer.png) #fff  repeat-x bottom;
}
a {
	text-decoration:none;
}
.box-title{width: 100%;border-bottom:1px solid #219ba1;color:#219ba1;padding:6px 0px;font-size:20px;}
.box-title.none-border{border: none}
.box-title.title{margin-bottom:10px;padding:0px 0px;}


.button{float:left;text-align: center; overflow: hidden; width:100%;}
.button.submit{margin-top:20px;}
.button.submit img{float: right;width: 18px;position: relative;right: 18px; top:3px; }
.button button{font-size:18px; cursor: pointer; font-weight:700;font-family: '微软雅黑'; text-align: center; background:#219ba1;color:#fff;margin:0px 15px;border:none;width:130px;height:30px; border-radius: 20px; left:0px;}
.button .none-background{color:#219ba1;border:1px solid #219ba1;background: none}



input,
textarea ,button{
    outline:none;
    resize:none;
}

/* global classes */
.cf {
    *zoom:1;
}
.cf:after {
    content:"";
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.hidden {
    display:none !important;
}
.ellipsis {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.wrapper {
    position:relative;
    width:1000px;
    margin:0 auto;
}
/*QA*/

/* header widget */
.header {
    background:#219ba1;
}
.header .wrapper {
    width:1000px;
    position:relative;
}
.news-number{margin-left:5px;}
.header .logo {
    position:absolute;
    top:2px;
    left:-170px;
    z-index:999;
    height: 30px;
    width: 150px;
    padding:8px;
    padding-top:0px;
}

/* nav widget */
.nav a {
    float:left;
    box-sizing:border-box;
    border-right:1px solid #22a6a8;
    width:20%;
    color:#fff;
    height:35px;
    line-height:35px;
    text-align:center;
    transition:background 0.2s ease-in-out;
}
.nav .active,
.nav a:hover {
    background-color:#2AC3CB;
}
/* user widget */
.user-menu.seconds {
    background:#219ba1;
    overflow: hidden;
}
.user {
    position:absolute;
    top:0;
    cursor:pointer;
    left:1000px;
    height:35px;
    line-height:35px;
    color:#fff;
    padding:0 15px;
    width:130px;
}
.user span {
    display:inline-block;
    width:90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user li{
    position:relative;
}
.user img {
    float:left;
    margin-right:10px;
    border-radius:13px;
    margin-top:5px
}
.user:hover .user-menu {
    display:block;
}
.user-menu {
    display:none;
    position:absolute;
    top:35px;
    left:0;
    z-index:1000;
    width:100%;
    background:#fff;
}

.user-menu.seconds li {
    float:none;
}
.user-menu.seconds li a {
    display:block;
    text-align:center;
    width:100%;
    padding:0;
    transition:background 0.2s ease-in-out;
}
.user-menu a,
.user-menu a:visited {
    color:#fff;
}
.user-menu a:hover {
    background:#2AC3CB;
}



.back-to-top {
    display:none;
    position:fixed;
    bottom:6%;
    right:6%;
    border:1px solid #ccc;
    background:#eee;
    height:40px;
    width:40px;
    line-height:40px;
    text-align:center;
    cursor:pointer;
}
.back-to-top i {
    font-size:18px;
}



/* fund dialog */
.windows {display:none;width:100%;float:left;height:100%;position:fixed;top:0px;left:0px;z-index:1119;background:rgba(0,0,0,0.5)}
.windows .confirm{display:none;transition:top 0.5s;width:600px;height:auto;border:1px solid #777;background:#fff;position:absolute;top:0px;left:0;right:0;margin:auto}
   .confirm .confirm-title{height:40px;padding:10px 20px;}
   		     .confirm-title h2{color:#333;float:left;line-height:40px;font-size:16px;}
   		     .confirm-title .close{float:right;line-height:40px;color:#999;margin-right:5px;}
   .confirm .confirm-content{padding:18px;padding-top:0px;color:#999;}
  		     .confirm-content i{margin:0px 15px;margin-right:33px;position:relative;top:2px;float:left;font-size:56px;}
  		     .confirm-content p{margin-left:15px;line-height:30px;}
     .confirm-content .icon-remove{color:#ff5757}
     .confirm-content .icon-ok{color:#0C3}
   .confirm .confirm-bottom{width:100%;height:50px; text-align:center;}
   		     .confirm-bottom button{background:#219ba1;border:none;font-family: '微软雅黑'; cursor:pointer; color:#fff;font-size:16px;outline:none;width:140px;height:30px;line-height:0px;margin-right:8px;}
