body{
    width:100%;
    height:100%;
}
.head-slides{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.head-slides img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.content1{
    background: url("../image/appleComputer.png") no-repeat;
    background-size: 90%;
    width: 378px;
    height: 312px;
}
.content1-text{
    background: url("../image/appleComputerwenzi.png") no-repeat;
    width: 611px;
    height: 100px;
}
.content2{
    background: url("../image/aq.png") no-repeat;
    width:447px;
    background-size: 77%;
    height:384px;
}
.content2-text{
    background: url("../image/aqwenzi.png") no-repeat;
    width:429px;
    height:114px;
}

.content3{
    background: url("../image/Studys.png") no-repeat;
    background-size: 83%;
    width:335px;
    height:335px;
}

.content3-text{
    background: url("../image/Studywenzi.png") no-repeat;
    width:595px;
    height:142px;
}

.content4{
    margin-top:30px;
    margin-right:-50px;
    background: url("../image/computer.png") no-repeat;
    background-size: 87%;
    width:453px;
    height:260px;
}

.content4-text{
    background: url("../image/Computer2wenzi%20(2).png") no-repeat;
    width:529px;
    height:114px;
}

.content5{
    background: url("../image/godlinght.png") no-repeat;
    width:453px;
    height:260px;
}

.content5-text{
    background: url("../image/godlinghtwenzi.png") no-repeat;
    width:436px;
    height:316px;
}
.icon1,.icon2,.icon3{
    display: inline-block;
    width: 520px;
    height: 116px;
}

.content .wrap.icon li{position:relative;top:15px;float: left;width: 333.3px;}
.content .wrap.icon .center{position:relative;top:26px;}
.content .text{margin-top:140px;}
.content .contentLogo{margin-top:40px;}
html{background: none}

.content.hr{background:#ebf2f2;}
.content{
    width: 100%;
    overflow: hidden;
    padding:30px 0;
    height: 275px;
    margin: 0 auto;
}
.wrap{
    transition:opacity 0.8s;
    width:1000px;
    margin: 0 auto;
}


/* footer */
.content.footer {text-align: center;height:auto;}
.content.footer .bottom{margin-top:20px;color:#aaa;}
.content.footer ul{width:auto;margin:0 auto;display: block;overflow: hidden; text-align: center;}
.content.footer li{float: left;}

.content.footer .footer-nav{margin-top:8px;}
.content.footer .footer-nav a{color:#666;margin-right:10px;font-size:14px;}

.content.footer .friend {border:1px solid #ddd;border-right:none;border-left:none;padding:10px 0px;margin-top:20px;}
.content.footer .friend span , .friend a{color:#aaa;margin-right: 10px;}
.content.footer a:hover{color:#219ba1;}






/*.stage { background:url(../image/header.png); }*/
/*.stage .wrapper { height:60px; }*/
/*.stage li { position:relative; float:left; width:20%; text-align:center; }*/
/*.stage li:after { content:'';width:2px;height:40px;display:inline-block; }*/
/*.MiaoDa{margin-top:25px; }*/
/*.stage li:hover img { top:15px; }*/
/*.stage img { position:absolute; top:10px; left:50%; margin-left:-45px;transition:top 0.2s ease-in-out; }*/

/*.slider {height:350px; position:relative; }*/
/*.slider-trigger { width:90px;left:50%;margin-left:-45px;height:10px;position:absolute;bottom:15px;z-index:10;}*/
/*.slider-trigger li { float:left;width:10px;height:10px;margin-right:10px;cursor:pointer;background:#219ba1;border-radius:5px;transition:background 0.4s ease-in-out; }*/
/*.slider-trigger .last { margin-right:0; }*/
/*.slider-trigger li:hover,*/
/*.slider-trigger .active {background:#eee; }*/
/*.slider-sheet li { overflow: hidden; text-align:center;transition:opacity 0.4s ease-in-out;position:absolute;top:0;left:0;bottom:0;right:0;opacity:0; }*/
/*.slider-sheet .active {z-index:1;opacity:1; }*/
/*.slider-sheet li img{margin:0 auto;position:absolute;top:0px;left:0px;right:0px;bottom:0px;margin:auto;}*/

/*.main table{width:100%;}*/
/*.main td{padding-top:10px;width:1000px;text-align: center;margin:0 auto;}*/
/*.hr{background: #d6edeb}*/
/*.wrapper h2 {margin-top:40px;font-size:20px;color:#219ba1;}*/

/*.class-list {border-top:1px solid #219ba1;margin-top:10px;padding:30px 0 80px;}*/
/*.class-list li {float:left;width:20%;text-align:center;}*/
/*.class-list li:hover p {font-weight:bolder;}*/
/*.class-list li p {margin-top:15px;font-size:20px;color:#219ba1}*/



