/* slider */
.slider {
	margin-top:20px;
}
.slider-trigger li {
	position:relative;
	margin-bottom:5px;
	font-size:0;
}
.slider-trigger li:after {
	position:absolute;
	content:'';
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255, 255, 255, 0.5);
	z-index:1;
	transition:opacity 0.4s ease-in-out;
	opacity:1;
}
.slider-trigger .active:after {
	opacity:0;
}
.slider-trigger li:last-child {
	margin-bottom:0;
}
.slider-content {
	position:relative;
	height:310px;
	width:795px;
	margin-left:5px;
}
.slider-content li {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	transition:opacity 0.4s ease-in-out;
}
.slider-content .active {
	opacity:1;
}
.slider-summary {
	margin-left:5px;
	width:170px;
	height:310px;
}

/* tab */
.tab {margin-top:50px}
.tab li a{color:#219ba1;font-size:28px;font-weight:700}
.tab li{float:left;width:20%;border-bottom:2px solid #219ba1; overflow:hidden;padding-bottom:9px;text-align:center}
.tab ul{overflow:hidden}
.tab .hover{border-bottom:7px solid #219ba1}
.tab li:hover{border-bottom:7px solid #219ba1}
.tab .content{width:100%; float:left}
.tab .content{width:100%; float:left}
