/* slider */
.slider {
	margin-top:20px;
}
.slider-trigger li {
	position:relative;
	margin-bottom:5px;
	font-size:0;
	cursor:pointer;
}
.slider-trigger li:after {
	position:absolute;
	content:'';
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255, 255, 255, 0.5);
	z-index:1;
	transition:opacity 0.4s ease-in-out;
	opacity:1;
}
.slider-trigger li:last-child {
	margin-bottom:0;
}
.slider-sheet {
	position:relative;
	height:370px;
	width:795px;
	margin-left:5px;
}
.slider-sheet li {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	transition:opacity 0.4s ease-in-out;
}
.slider-sheet img {
	float:left;
	opacity:0;
	transition:opacity 0.4s ease-in-out;
}
.slider-summary {
	float:left;
	width:170px;
	height:175px;
	padding:5px 0 5px 5px;
	margin-left:5px;
	word-break:break-all;
	border-top:solid 1px #f0f0f0;
}
.slider-sheet img + .slider-summary {
	border-top:0;
}
.slider-summary p:first-child {
	font-size:18px;
	margin-bottom:20px;
}
.slider-trigger .active:after {
	opacity:0;
}
.slider-sheet .active {
	opacity:1;
}
.slider-sheet .active img {
	opacity:1;
}

/* tab */
.tab {
	margin-top:50px;
}
.tab-trigger li {
	float:left;
	width:20%;
	border-bottom:1px solid #219ba1;
}
.tab-trigger a {
	display:block;
	text-align:center;
	padding:10px 0;
	color:#219ba1;
	font-size:22px;
	font-weight:bolder;
}
.tab-trigger li:hover,
.tab-trigger .active {
	border-bottom:5px solid #219ba1;
}
.tab-sheet {
	position:relative;
}
.tab-sheet > li {
	position:absolute;
	left:0;
	top:0;
	opacity:0;
}
.tab-sheet .active {
	opacity:1;
}
