/* slider */
.js-slider-trigger{float:left;position:absolute;bottom:10px;right:185px;}
.js-slider-trigger li{float:left;margin-right:6px;}
.js-slider-trigger .active a{background:#aaa}
.js-slider-trigger li a{   transition: background 0.4s ease-in-out;border-radius:10px;padding:5px;background:#fff;float:left}
p{word-break:break-all}
.course {overflow: hidden;}
.course h2{margin-top:10px;margin-right:15px;margin-bottom:5px;padding:10px 25px;background: #219ba1;float: left;font-size: 26px;color:#fff;border-radius: 40px;}
.course i{font-size: 32px;margin-left:10px;position:relative;top:2px;}
.course .description{float: left;margin-top:10px;}
.course .description p{ float: left;margin-top:14px;color:#aaa;}

.windows{    display: none;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;}

.course .list{cursor: pointer;width: 100%;float: left;margin-top:30px;}
.course .last{margin-right: 0px !important;}
.course .list li{background:#fff;position:relative; float:left;width:180px;margin-right:64px;padding:10px;margin-bottom:50px;height: 74px;border:1px solid #219ba1;border-radius: 10px;}
.course .list li h3{font-size: 20px;color:#219ba1;}
.course .list li p{float:left; overflow: hidden;height:35px; margin-top:7px;color: #aaa;font-size: 12px;}
.course .list i{position:absolute;right: -48px;top:35px;color:#219ba1;}
.course .list .bottom{position:absolute;right:70px;top:103px;color:#219ba1;}

.slider {
	position:relative;
	margin-top:10px;
}
.slider-trigger li {
	position:relative;
	margin-bottom:5px;
	font-size:0;
	cursor:pointer;
}

.slider-trigger li:last-child {
	margin-bottom:0;
}
.slider-sheet {
	position:relative;
	height:370px;
	width:795px;
	margin-left:5px;
}
.slider-sheet li {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	transition:opacity 0.4s ease-in-out;
}
.slider-sheet img {
	float:left;
	opacity:0;
	transition:opacity 0.4s ease-in-out;
}
.slider-summary {
	float:left;
	width:170px;
	height:175px;
	padding:5px 0 5px 5px;
	margin-left:5px;
	word-break:break-all;
	border-top:solid 1px #f0f0f0;
	background-color:#fff
}
.slider-sheet img + .slider-summary {
	border-top:0;
}
.slider-summary p:first-child {
	font-size:18px;
	margin-bottom:20px;
}
.slider-trigger .active:after {
	opacity:0;
}
.slider-sheet .active {
	opacity:1;
}
.slider-sheet .active img {
	opacity:1;
}

/* tab */
.tab {
	margin-top:50px;
}
.tab-trigger li:hover,
.tab-trigger .active {
	border-bottom:5px solid #219ba1;
	font-weight:700;
}
.tab-sheet {
	position:relative;
}
.tab-sheet > li {
	position:absolute;
	left:0;
	top:0;
	opacity:0;
}
.tab-sheet .active {
	opacity:1;
}
