<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" href=""/>
    <style>
        body{
            height: 100%;
            width:100%;
        }
        .head1{

        }
    </style>
</head>
<body class="index">
    <div class="box">
        <div class="header">
            <img src="../../../../static/image/hope.JPG" width="1980" height="" alt="编程实现梦想"class="head1" />
        </div>
        <div class="characters-wrap">
            <span class="icon1"></span>
            <span class="icon2"></span>
            <span class="icon3"></span>
        </div>
        <div class="content">
            <div class="content1"></div>
            <div class="content1-text"></div>
        </div>
        <div class="content">
            <div class="content2"></div>
            <div class="content2-text"></div>
        </div>
        <div class="content">
            <div class="content3"></div>
            <div class="content3-text"></div>
        </div>
        <div class="content">
            <div class="content4"></div>
            <div class="content4-text"></div>
        </div>
        <div class="content">
            <div class="content5"></div>
            <div class="content5-text"></div>
        </div>
        <div class="footer">

        </div>

    </div>


</body>
</html>