.doubt{padding:10px;background:#d6edeb;width:980px;}
.doubt .tools {padding-bottom: 10px;}
.doubt .tools i{margin:0px 6px; cursor:pointer; color:#209ba2;}
.doubt > .table{position:relative;width:980px;}
.doubt >.table td{width:980px;}
.doubt >.table .title{margin-bottom:10px;}
.doubt >.table .title,.input-content,.code{color:#aaa;padding:5px 5px;border:1px solid #7cc4c7;width: 970px;}
.doubt >.table .input-content{height: 60px;}
.doubt >.table .code{height:110px;border-top:1px dashed #ddd;}
.doubt >.table .title{color:#aaa;padding:5px 5px;border:1px solid #7cc4c7;width: 970px;}
.doubt >.table .Language{padding:5px;border:none;outline:none;cursor:pointer; position:absolute;right:5px;top:5px;}
.doubt >.table .code-box{position:relative}

.doubt .tag{color:#aaa;padding:5px 5px;height:25px;background:#fff;border:1px solid #7cc4c7;width: 970px;}
		.tag .input-tag{margin-left:7px;border:none;height:25px;color:#aaa;}
		.tag .tag-box{background:#eee;padding:4px 3px 4px 7px;top:-1px;}
			 .tag-box button{  cursor: pointer;outline: none; background: none;border:none;border-left:1px solid #ddd;color:#aaa;margin-left:5px;}
.doubt input[type="checkbox"]{margin-top:10px;margin-right:5px;}
.doubt input[type="checkbox"] ~ span{color:#219ba1;}

.left-content{padding-bottom:140px; overflow: hidden; margin-top:30px;}
.left-content,.right-content{float: left}

.left-content{width:790px;}


.list-title{width: 720px !important;}
.input-tag{float:left;width:139px;position:relative;}
.tag-ide{display:none;z-index:1024;width:140px;border:1px solid #7cc4c7;border-top:none;background: #fff;position:absolute;top:30px;}
.tag-ide li{padding:7px;transition:background 0.1s;}

.right-content{margin-left:10px;width:200px;margin-top: 13px;}
.right-content .list-tag{position:relative;left:5px;top:0px;}
.right-content .list-tag li{border:none;width:auto;margin-top:15px;}
.right-content .list-tag .tag-box{top:0px;background:#d6edeb;color:#43a8ad;padding:5px 9px;margin-right: 4px}
.right-content .list-date{color:#aaa;bottom:15px;position: absolute;right:10px;}
.right-content .box-title{position:relative;margin-top:28px;}

.left-content .tag-desk{width: 100%;margin-bottom:30px;overflow: hidden}
			  .tag-desk h1{float:left;color:#219ba1;font-size: 24px;margin:5px 0;font-weight: 700}
			  .tag-desk .desk{float:left;color:#aaa;margin-bottom:30px;}
			  .tag-desk button{ font-family: '微软雅黑'; margin-top:10px;float:right;font-size:18px; cursor: pointer; font-weight:700;background:#219ba1;color:#fff;border:none;width:130px;height:27px; border-radius: 20px; margin-right: 10px;} 



.selectLanguage{}




















