.leftBox{padding-bottom:130px;width: 780px;float:left;}
.leftBox .head{margin-top:-9px;margin-bottom: 15px;font-size: 14px;color:#43a8ad;}
.leftBox font{color:#333;}

.rightBox{width: 200px;padding-left:10px;float:right;}
.rightBox a{margin:10px 0px;padding-bottom:10px;border-bottom:1px solid #eee;float: left;color:#aaa;}

.leftHeader,.whyUser{width: 100%;float: left}
.code{max-height:280px;overflow-y:scroll; width:760px;margin-top:0px;float:left; border: 2px solid #eeeeee;}
.code .toolbar { display:none; }
.code textarea{height:200px;width: 100%}
 .button button{font-size:16px; cursor: pointer; font-weight:700;font-family: '微软雅黑'; text-align: center; background:#219ba1;color:#fff;margin:0px 15px;margin-top:20px;border:none;width:130px;height:30px; border-radius: 20px; left:0px; line-height:30px; }

.button.close{margin:20px 0;text-align:center;border-bottom:1px solid #43a8ad;padding-bottom: 20px;}
.button.close button{margin:5px auto;position:relative; left:-80px;margin-right: 15px;}
.button.close a{margin-right:18px;line-height: 40px;}
.button.close i{margin-right:3px;}

.code-tool{margin-top:20px;width:100%;float:left;}
.code-tool .tool{overflow: hidden; width:760px;}
.code-tool .tool a{float:left;background:#219ba1;color:#fff;padding: 4px 8px;}
.code-tool h2{float:left;font-size: 18px;color:#43a8ad;margin-left:10px;}

.button{float:left;text-align: center; overflow: hidden; width:100%;}
.button a{float: left;color:#43a8ad;font-size: 16px;}

.doubt{margin-top:30px;float:left;position:relative; overflow: hidden; padding:10px;background:#d6edeb;width:743px;}
.doubt  >.table{position:relative;width:100%;}
.doubt  .table td{position:relative;width:743px;}
	     .table .title{margin-bottom:10px;}
	     .table .title,.input-content,.doubt .code{color:#333;padding:5px 5px;border:1px solid #7cc4c7;width: 733px;}
	     .table .input-content{height: 60px;}
	     .table .code{border-top:1px dashed #ddd;margin-top:-5px;}
	     .table .title{color:#aaa;padding:5px 5px;border:1px solid #7cc4c7;width: 733px;}
.doubt >.table .code{height:110px;border-top:1px dashed #ddd;}

.doubt >.table .Language{padding:5px;border:none;outline:none;cursor:pointer; position:absolute;right:25px;top:5px;}

.doubt >.table .code-box{position:relative}

.doubt .tag{color:#aaa;padding:5px 5px;height:25px;background:#fff;border:1px solid #7cc4c7;width: 733px;}
		.tag .input-tag{margin-left:7px;border:none;height:25px;color:#aaa;}
		.tag .tag-box{background:#eee;top:-1px;padding:4px 3px 4px 7px;}
			 .tag-box button{  cursor: pointer;outline: none; background: none;border:none;border-left:1px solid #ddd;color:#aaa;margin-left:5px;}


.edui-editor-body ul {
	list-style: disc;
	padding-left: 40px;
}
.edui-editor-body ol {
	list-style:decimal;
	padding-left: 35px;
}
.edui-editor-body strong,
.edui-editor-body b {
	font-weight:bold;
}
.edui-editor-body em,
.edui-editor-body i {
	font-style: italic;
}



.comment-list{margin-top:20px;float:left;width: 100%;}
.comment-list li{color:#888;position:relative; float: left;width: 100%;margin-bottom:23px;}
.comment-list img{width: 40px;margin-right: 10px;}
.comment-list .name{color:#111;margin-bottom:5px;}
.comment-list div{float: right;position: absolute;top:10px;right: 10px;font-size: 19px;}
.comment-list .data{margin-right:23px;color:#219ba1;}


.whyUser {margin-top:20px;position:relative;}
.whyUser > .data,
.whyUser > .data > p,
.whyUser >a img,
.comment-list li img {float: left}
.whyUser > .data{width:710px;padding-left:10px;height:35px;display:inline-block;}
.whyUser > .data p{position: relative;top:18px;font-size: 14px;color:#aaa;margin-right: 10px;}
.whyUser > .data .name a { color:#333; }
.whyUser > .data .name a:hover { color:#219ba1; }
.whyUser > .data .date{float: right}
.whyUser .desc{padding-right:20px;margin:15px 0;padding-top:5px;float:left;color:#333;}
.whyUser .desc *{word-break:break-all; line-height:20px;max-width: 760px;}
.whyUser .desc br{margin:14px 0px;}
.whyUser .desc img{margin:10px 0px;}
.whyUser .desc a{color:#43a8ad;}
.whyUser .god{position:absolute;left:24px;top:21px;width: 15px;}

.leftHeader h1{font-size: 23px;font-weight: 700;margin-bottom:10px; }

.doubt-time{float:left;font-size:40px;color:#219ba1;width: 100%; text-align: center;}
.doubt-time.disable{color:#AaA;}
.leftBox .center{text-align: center;width: 100%;float: left}
.leftBox .tishi{font-size:19px;margin:8px 0px;font-weight:400;color:#219ba1;}
.leftBox .title{float:left;font-size:14px;margin:40px 0 5px;font-weight:400;color:#219ba1;}

.user_list_data li,.user_list_data ul{float:left;width: 100%}
.user_list_data li{padding:9px 0;border-bottom: 1px solid #eee}
.user_list_data a{color:#aaa;padding-left:7px;}
.user_list_data span{color:#aaa;padding:0 4px;}

.split{width:100%;height:1px;background:#eee;float: left;margin-top:20px;}

.online{position:relative;top:-2px;color:#219ba1;}
.online font{position:relative;top:-3px;margin-right:5px;color:#219ba1;}

.user_list_data {
    float:left;    width: 100%;
    margin:60px 0 40px;
}
