.leftBox{padding-bottom:130px;width: 780px;float:left;}
.leftBox .head{margin-top:-9px;margin-bottom: 15px;font-size: 14px;color:#43a8ad;}
.leftBox font{color:#333;}

.rightBox{width: 200px;padding-left:10px;float:right;}
.rightBox a{margin:10px 0px;padding-bottom:10px;border-bottom:1px solid #eee;float: left;color:#aaa;}

.leftHeader,.whyUser{width: 100%;float: left}
.code{background:##F8F8F8;max-height:280px;overflow-y:scroll; width:760px;margin-top:0px;float:left;}
.code textarea{height:200px;width: 100%}
 .button button{font-size:18px; cursor: pointer; font-weight:700;font-family: '微软雅黑'; text-align: center; background:#219ba1;color:#fff;margin:0px 15px;margin-top:20px;border:none;width:130px;height:30px; border-radius: 20px; left:0px;}

.button.close{margin:20px 0;text-align:center;border-bottom:1px solid #43a8ad;padding-bottom: 20px;}
.button.close button{margin:5px auto;position:relative; left:-80px;margin-right: 15px;}
.button.close a{margin-right:18px;line-height: 40px;}
.button.close i{margin-right:3px;}

.code-tool{margin-top:20px;width:100%;float:left;}
.code-tool .tool{overflow: hidden; width:760px;}
.code-tool .tool a{float:left;background:#219ba1;color:#fff;padding: 4px 8px;}
.code-tool h2{float:left;font-size: 18px;color:#43a8ad;margin-left:10px;}

.button{float:left;text-align: center; overflow: hidden; width:100%;}
.button a{float: left;color:#43a8ad;font-size: 16px;}

.doubt{margin-top:30px;float:left;position:relative; overflow: hidden; padding:10px;background:#d6edeb;width:743px;}
.doubt  >.table{position:relative;width:100%;}
.doubt  .table td{position:relative;width:743px;}
	     .table .title{margin-bottom:10px;}
	     .table .title,.input-content,.doubt .code{color:#aaa;padding:5px 5px;border:1px solid #7cc4c7;width: 733px;}
	     .table .input-content{height: 60px;}
	     .table .code{border-top:1px dashed #ddd;margin-top:-5px;}
	     .table .title{color:#aaa;padding:5px 5px;border:1px solid #7cc4c7;width: 733px;}
	     .table .Language{position:absolute;right:15px;}

.doubt .tag{color:#aaa;padding:5px 5px;height:25px;background:#fff;border:1px solid #7cc4c7;width: 733px;}
		.tag .input-tag{margin-left:7px;border:none;height:25px;color:#aaa;}
		.tag .tag-box{background:#eee;top:-1px;padding:4px 3px 4px 7px;}
			 .tag-box button{  cursor: pointer;outline: none; background: none;border:none;border-left:1px solid #ddd;color:#aaa;margin-left:5px;}

.comment-list{margin-top:20px;float:left;width: 100%;}
.comment-list li{color:#888;position:relative; float: left;width: 100%;margin-bottom:23px;}
.comment-list img{width: 40px;margin-right: 10px;}
.comment-list .name{color:#111;margin-bottom:5px;}
.comment-list div{float: right;position: absolute;top:10px;right: 10px;font-size: 19px;}

.whyUser {margin-top:20px;}
.whyUser > .data,.data>p,img{float: left}
.whyUser > .data{width:710px;padding-left:10px;height:35px;display:inline-block;}
.whyUser > .data p{position: relative;top:18px;font-size: 14px;color:#aaa;margin-right: 10px;}
.whyUser > .data .name{color:#333;margin-left:10px;}
.whyUser .desc{padding-right:20px;margin:15px 0;padding-top:5px;float:left;color:#333;}
.whyUser .desc *{word-break:break-all; line-height:20px;max-width: 760px;float:left;}
.whyUser .desc br{margin:14px 0px;}
.whyUser .desc img{margin:10px 0px;}

.leftHeader h1{font-size: 23px;font-weight: 700;margin-bottom:10px; }

.doubt-time{float:left;font-size:40px;color:#219ba1;width: 100%; text-align: center;}