/* CSS Document */
body{background:#f7f7f7;color:#333; font-family:'微软雅黑'}
html,body{height:100%}

.left-nav {position:fixed;top:0px;float:left;width:200px;height:100%;color:#fff;background:#32363E}
.left-nav .user-data{width:200px;height:60px;border-bottom:1px solid #222;padding:10px;background:#219ba1}
	       .user-data img{margin-left:5px;margin-top:-1px;float:left;width:40px;height:40px; border-radius:100px}
	       .user-data .user-nick{width:110px;margin-top:2px;float:left}
	       .user-data h2{ float:left;margin-left:15px;color:#c6fcff;margin-top:-2px;}
	       .user-data a{float:left;color:#c6fcff;font-size:12px;margin-left:15px;margin-top:3px;}
	       .user-data a i{margin-right:7px;}

.left-nav li{margin-bottom:1px;float:left;width:100%;color:#8B97A5;font-size:18px;height:65px;line-height:65px;border-bottom:1px solid #2d2d2d;}
.left-nav li .content{padding:0px 10px;}
	          .content i{margin-right:15px;margin-left:15px;position:relative;top:2px;}
	          .content font{font-size:14px;}
		  a{color:#8B97A5}
		  a:hover{color:#CCC; text-decoration:none}

.left-nav li:hover {background:#333;color:#CCC; cursor:pointer}
.left-nav .hover{background:#333;color:#CCC;}
.left-nav .hover a{color:#CCC;}
.left-nav .logo{position:absolute;bottom:30px;left:0;right:0;margin:0 auto}

.main {position:relative;margin-left:200px;float:left;width:calc(100% - 200px);height:100%;}
.main .main-content{width:100%;margin-left:200px; float:right}
.main .main-title{background:#fff;width:100%;margin-bottom:10px;float:left;border-bottom:1px solid #eaeaea;color:#888;height:20px;line-height:20px;padding:10px 0px;padding-left:25px;padding-bottom:50px;font-size:18px;}
	  .main-title i{color:#fff;margin-right:10px;}


.nav-pills {
	
	margin-top:2px;
	font-size:14px;
	
  float: left;
}
.nav-pills a{color:#bbb;margin-right:10px;padding:6px 14px !important;}
















