/* CSS Document */

.site-box{display:none;float:left;width:100%;background:#fff;padding:20px 11px;margin-top:10px;border:1px solid #dcdcdc; border-radius:3px;}
.site-box h2{font-size:16px;color:#333}
.site-box table{margin-top:0px;}
.site-box td,th,tr {height:30px;line-height:30px !important;}


.title p{margin-left:10px;color:#aaa;line-height:34px;}
.site-box input[type="text"]{padding:0px 7px;border:1px solid #ddd;outline:none;width:700px;}
.site-box textarea{ resize:none;padding:0px 7px;border:1px solid #ddd;outline:none;width:700px;}


