/* css reset from yui */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* global tags */
body,html {
    font-family:"Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    font-size:14px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
	color:#333;
	background:#f2f2f2
}

a {text-decoration:none;}

.table {  margin-top:40px;width:100%;background:#fff}
.table>th,td{	height:40px;line-height:40px;padding:10px 16px;color:#666}
.table th{height:20px;background:#eee;line-height:20px !important;color:#888}
.table tr:hover{background:#f7f7f7}
.table i{line-height:40px;margin-right:13px;}
.table i:hover{cursor:pointer;color:#219ba1}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:1px solid #eee}

.active i{color:#fff !important;}

/* 通用分页 */
.page{width:100%;background:#fff;height:50px;line-height:50px;border:1px solid #eee;float:left}
.page font{margin-left:15px;color:#999;float:left}
.page .right{float:right;width:250px; overflow:hidden}
	  .right input{margin-left:5px;margin-top:11px;height:28px;padding:2px;line-height:28px;border:2px solid #219ba1; float:left}
	  .right input[type="submit"]{padding:0px 5px;line-height:0px;background:#219ba1;color:#fff;float:left}
	  .right input[type="text"]{width:80px;padding:0px 10px;outline:none; text-align:center}


/* 弹窗样式 */
.window {display:none;width:calc(100% - 200px);height:100%;position:fixed;top:0px;left:200px;z-index:9;background:rgba(0,0,0,0.5)}
.window .confirm{transition:top 0.5s;width:600px;height:auto;border:1px solid #777;background:#fff;position:absolute;top:0px;left:0;right:0;margin:auto}
	       .confirm .confirm-title{height:40px;padding:10px 20px;}
	       		     .confirm-title h2{color:#333;float:left;line-height:40px;font-size:16px;}
	       		     .confirm-title .close{float:right;line-height:40px;color:#999;margin-right:5px;}
	       .confirm .confirm-content{margin-top:10px;padding:15px;color:#999;}
	      		     .confirm-content i{margin:0px 15px;margin-right:33px;position:relative;top:2px;float:left;font-size:56px;}
	      		     .confirm-content p{line-height:30px;}
			     .confirm-content .icon-remove{color:#ff5757}
			     .confirm-content .icon-ok{color:#0C3}
			     
			     
	       .confirm .confirm-bottom{margin-top:15px;width:100%;height:50px; text-align:center;}
	       		     .confirm-bottom button{outline:none;width:140px;height:30px;line-height:0px;margin-right:8px;}



/* 左侧导航样式 */
.left-nav {position:fixed;top:0px;left:0;width:200px;height:100%;color:#fff;background:#32363E}
.left-nav .profile{width:200px;height:45px;padding:8px;background:#219ba1}
	       .profile img{margin-left:30px;float:left;width:30px;height:30px;border-radius:15px}
	       .profile h2{ margin-left:80px;color:#c6fcff;line-height:30px; }

.left-nav li{margin-bottom:1px;float:left;width:100%;color:#8B97A5;font-size:18px;height:65px;line-height:65px;border-bottom:1px solid #2d2d2d;}
.left-nav li .content{padding:0px 10px;}
	          .content i{margin-right:15px;margin-left:15px;position:relative;top:2px;}
	          .content font{font-size:14px;}
.left-nav li a{color:#8B97A5}
.left-nav li a:hover{color:#CCC; text-decoration:none}
.left-nav li:hover {background:#333;color:#CCC; cursor:pointer}
.left-nav .hover{background:#333;color:#CCC;}
.left-nav .hover a{color:#CCC;}
.left-nav .logo{position:absolute;bottom:30px;left:0;right:0;margin:0 auto}

/* 核心页面 */
.main {position:absolute;left:200px;top:0;right:0;bottom:0;}
.main .nav {border-bottom:solid 1px #eaeaea;color:#888;padding:6px 10px;width:100%;margin-left:0;}
.main .tab-content {position:absolute;top:43px;left:0;right:0;bottom:0;}
.main-data{padding:13px;}

/* 表单样式 */
.table-form{width:100%;}
.table-form td{color:#666;position:relative;height:30px;line-height:30px !important;padding:4px 8px !important}
.table-form input[type="text"],textarea{ resize:none;padding:3px 10px;color:#666;width:442px;outline:none;border:1px solid #eaeaea}

.table-form textarea{height:100px;}
.table-form input[type="file"]{opacity:0;position:absolute;top:14px;left:8px;width:calc(100% - 16px);height:calc(100% - 17px);cursor:pointer; outline:none;}
.table-form img{max-height:200px;margin-top:10px;}
.table-form .updata:hover font{display:block;}
.table-form .color{display: block;position: absolute;width: 140px;height: 33px;background-color: #fff;top: 7px; right: 10px;}
.table-form font{line-height:40px;display:none;background:rgba(0,0,0,0.3);  vertical-align:middle;text-align:center;color:#fff;position:absolute;top:14px;left:8px;width:calc(100% - 16px);height:calc(100% - 17px);}
.window .temp-image{display:none}



.nav-pills {  background-color: #fff;font-size:14px;float: left;margin-left:13px;}
.nav-pills a{color:#bbb;margin-right:10px;padding:6px 14px !important;}
.nav-pills a i{color:#bbb;margin-right:9px;}


.imgLook{position:absolute;display:none;z-index:99999;background:#fff;max-height:80px;max-width:400px;padding:4px;border:1px solid #dcdcdc}
.imgLook img{width:100%;height:100%}	

.alert { display:none;position:fixed;top:0;z-index:9999;left:0;right:0;margin-bottom:0;border-radius:0; }
