/*body*/
body{   background-color: #1d9ba1;}
body,input{

    font-family:"Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    font-size:14px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
	color:#333;
}

.box{
    width: 630px;
    height: 240px;
    position: absolute;
    top: -20px;left:0;right:0;bottom:0;
    margin:auto;
}
/*logo*/
.logo {
    box-sizing:content-box;
    float:left;
    margin:50px;
    border-right:1px solid #1c9399;
    padding-right:40px;
}
/*表单*/
form input,ul {
    display: block;;
}

form input{
    margin: 10px 0;
    padding: 4px 8px;
    border-radius: 4px;
    width: 260px;
    line-height: 28px;
    border: 1px solid #1d9ba1;
}
/*登录键*/
.login-btn{
    position: relative;
    background-color: #19c9d1;
    border: 1px solid #1d9ba1;
    color: #ffffff;
    width: 260px;
}
.login-btn:hover {
    background:#36DFE7;
}

ul li{
    color: #ffffff;
    font-size: 14px;
    line-height: 25px;

}
ul i{
    color:#19c9d1;
    padding-right: 10px;
}
/*无法登陆*/
.why{
    position: absolute;
    top: 250px;
    left: 480px;
    color: #fff;
    font-size: 13px;
}
.tishi{display:none;}

form{margin-top:60px;}
