.tab-content {
    padding:10px;
}

form {
    width:40%;
    border: solid 1px #f0f0f0;
    padding: 40px;
    margin: 40px;
}

.check label{cursor:pointer; margin-right: 15px;font-weight: 100}
.check input[type='checkbox']{cursor:pointer;margin-right:4px;position:relative;top:2px;}