.leftBox,.rightBox{padding-bottom:120px;float:left;}

.leftBox{padding-top:15px;width: 210px;padding-right: 30px;}
.leftBox .pic{margin-right:10px;width:125px;height: 125px;float: left;}
.leftBox p{font-size:12px;float: left;margin-top:4px;}
.leftBox .look,.leftBox .money{width: 75px;}
.leftBox .money{position: relative;top:5px;}
.leftBox .look img{margin-right: 20px;}
.leftBox .box-title{border:none;float:left;margin-top:30px;}
.leftBox .name{float: left;margin: 4px 0px;margin-bottom:8px;font-size:16px;font-weight: 700}
.leftBox .desc{margin-top:14px;font-size:16px;color:#aaa;width:100%;}
.leftBox .classList li{width: 100%;height: 100px;float:left;margin-top:10px;background: #eee}
.leftBox .help{float:left;margin-top:30px;font-size: 16px;color:#219ba1;}

.tab{margin-top:20px;float:left;width: 100%}

.rightBox{width: 750px;margin-left:10px;}
.rightBox .box-title{border: none;margin-bottom: 10px;}

