.box-title{margin-top:10px !important;}
.left-content{width:780px;margin-right: 10px;}
.tag-list {padding-bottom:0px; overflow: hidden;}
.tag-list li{margin-top:13px;float:left;width: 100%}
.tag-list .pic{float:left;width: 50px;height:50px}
.tag-list h4{float:left;}
.tag-list .name{width:130px;font-size:18px;margin-left:10px;font-weight: 700}
.tag-list .look{float: left;position:relative;top:5px;left: 8px;}
.tag-list .look img{margin-right: 7px;}
.left-content{width: 760px;margin-top: 0}
.right-content{float: right;}